<header class="head">
  <img src="../assets/contact-form-icon.svg" alt="logo" />
</header>
<main>
  <section class="container">
    <h1>Interested in our business pricing?</h1>
    <p class="description">
      Fill out the form to view details and we’ll contact you as soon as
      possible.
    </p>
    <div class="form">
      <app-input-text
        class="name"
        [label]="'Name'"
        [placeholder]="'Ethan Johnson'"
      ></app-input-text>
      <app-input-text
        class="email"
        [label]="'Company Email'"
        [placeholder]="'ethan@johnson.com'"
      ></app-input-text>
      <app-combo-box
        class="company-size"
        [label]="'Company Size'"
        [options]="['50-100 employees', '101-300 employees', '501+ employees']"
        [link]="'../assets/Expand_down.svg'"
      >
      </app-combo-box>
      <app-combo-box
        class="subject"
        [label]="'Subject'"
        [options]="[
          'Building Landing pages',
          '101-300 employees',
          '501+ employees'
        ]"
        [link]="'../assets/Expand_down.svg'"
      >
      </app-combo-box>
      <app-text-box
        class="message"
        [label]="'Message'"
        [placeholder]="'50-100 employees'"
      />
      <button class="submit">Contact Sales</button>
    </div>
  </section>
</main>
